aws_key = "<fill_aws_key_here>"
aws_secret = "<fill_aws_secret_here>"
postgres_host = "127.0.0.1"
postgres_user = "postgres"
postgres_password = "<fill_postgres_user_password_here>"
sandman_user = "sandman_development"
sandman_password = "<fill_postgres_user_password_here>"
